In [1]:
import pandas as pd
import numpy as np

In [41]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/2020-jetbrains-python-survey.csv'

jb = pd.read_csv(url)
jb.head(15)

C:\Users\c_bal\AppData\Local\Temp\ipykernel_14392\3589676322.py:3: DtypeWarning: Columns (152) have mixed types. Specify dtype option on import or set low_memory=False.
  jb = pd.read_csv(url)

,is.python.main,other.lang.None,other.lang.Java,other.lang.JavaScript,other.lang.C/C++,other.lang.PHP,other.lang.C#,other.lang.Ruby,other.lang.Bash / Shell,other.lang.Objective-C,...,job.role.Technical support,job.role.Data analyst,job.role.Business analyst,job.role.Team lead,job.role.Product manager,job.role.CIO / CEO / CTO,job.role.Systems analyst,job.role.Other,age,country.live
0,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,Business analyst,NaN,NaN,NaN,NaN,NaN,30–39,NaN
1,Yes,NaN,Java,JavaScript,NaN,NaN,C#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,India
2,Yes,NaN,NaN,NaN,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,Technical support,Data analyst,NaN,Team lead,NaN,NaN,NaN,NaN,30–39,United States
3,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Yes,NaN,Java,JavaScript,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,Italy
5,"No, I use Python as a secondary language",NaN,NaN,NaN,NaN,PHP,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,France
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"No, I use Python as a secondary language",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Yes,NaN,Java,NaN,C/C++,PHP,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30–39,Croatia
10,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,Other country
11,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,21–29,United States
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,Data analyst,NaN,NaN,NaN,NaN,NaN,NaN,30–39,Belgium
14,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,30–39,Ecuador

In [167]:
unique_cols = [] # gathering the columns into a list
for cols in jb.columns:
    if '.'  in cols:
        unique_cols.append(cols)
    if cols == 'age':
        unique_cols.append(cols)

(jb[unique_cols]
 .rename(columns=lambda c: c.replace('.', '_'))
 #are_you_datascientist= lambda df_: df_.are_you_datascientist
)

,is_python_main,other_lang_None,other_lang_Java,other_lang_JavaScript,other_lang_C/C++,other_lang_PHP,other_lang_C#,other_lang_Ruby,other_lang_Bash / Shell,other_lang_Objective-C,...,job_role_Technical support,job_role_Data analyst,job_role_Business analyst,job_role_Team lead,job_role_Product manager,job_role_CIO / CEO / CTO,job_role_Systems analyst,job_role_Other,age,country_live
0,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,Business analyst,NaN,NaN,NaN,NaN,NaN,30–39,NaN
1,Yes,NaN,Java,JavaScript,NaN,NaN,C#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,India
2,Yes,NaN,NaN,NaN,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,Technical support,Data analyst,NaN,Team lead,NaN,NaN,NaN,NaN,30–39,United States
3,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Yes,NaN,Java,JavaScript,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,Italy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54457,Yes,NaN,NaN,NaN,C/C++,NaN,NaN,NaN,Bash / Shell,Objective-C,...,NaN,NaN,NaN,NaN,NaN,NaN,Systems analyst,NaN,21–29,Russian Federation
54458,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54459,Yes,NaN,NaN,JavaScript,NaN,PHP,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,CIO / CEO / CTO,NaN,NaN,21–29,Russian Federation
54460,Yes,NaN,NaN,JavaScript,C/C++,PHP,NaN,NaN,Bash / Shell,NaN,...,NaN,Data analyst,NaN,NaN,NaN,NaN,NaN,NaN,30–39,Spain
54461,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Team lead,NaN,NaN,NaN,NaN,21–29,Algeria

In [180]:
(jb[unique_cols]
 .rename(columns=lambda c: c.replace('.', '_')) # renaming the columns that have a '.' in them and replacing it with '_' -- returns a new dataframe
 .assign(age=jb.age.str.slice(0,2).astype('float').astype('Int64'),
         are_you_datascientist = lambda df: df.are_you_datascientist
         .replace({'Yes': True, 'No': False, np.nan: False}),
         is_python_main = lambda df: df.is_python_main
         .astype('category')
        # company_size = lambda df: df.company_size
         #.replace({


        )
         
         #.value_counts(dropna=False)


)

#jb2.other_lang_None.fillna(value=False)

CategoricalDtype(categories=['No, I don’t use Python for my current projects',
                  'No, I use Python as a secondary language', 'Yes'],
, ordered=False)

In [123]:


(jb
 .rename(columns=lambda c: c.replace('.', '_'))
 #.where(jb['is_python_main'] == 'Yes', other='False')
 .is_python_main
 .value_counts(dropna=False))

Yes                                               33528
NaN                                               12730
No, I use Python as a secondary language           5992
No, I don’t use Python for my current projects     2212
Name: is_python_main, dtype: int64

In [138]:
jb2

missing = jb2.is_python_main.isna()

jb2.memory_usage(deep=True)

Index                           128
is_python_main              3385152
other_lang_None             1928442
other_lang_Java             1977945
other_lang_JavaScript       2325954
                             ...
job_role_CIO / CEO / CTO    1795584
job_role_Systems analyst    1797304
job_role_Other              1820634
age                         3214332
country_live                2576032
Length: 265, dtype: int64